body {
  background-image: url("assets/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
#body::before {
    filter: blur(5px);
}
#container
{
  display: flex;
  height: 70vh;
  border-radius: 10px;
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  height: inherit;
}
.starred {
  filter: brightness(0);
  float: right;
  margin-right: 2.5%;
}
.star {
  filter: brightness(50%);
  float: right;
  margin-right: 2.5%;
}
#mainNav {
  background-color: #111022;
  border-radius: 10px 0 0 10px;
  opacity: 0.9;
  height: inherit;
  width: 30%;
}
#mainNav li {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#mainNav li:hover {
  background-color: #292a48;
}
#mainNav #active {
  background-color: #292a48;
}
#issuesNav {
  background-color: #f6f6f6;
  border-radius: 0 10px 10px 0;
  width: 70%;
  overflow-y: scroll;
}
.issue {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.issueDate {
  color: #918f9c;
  margin-left: 10px;
  font-size: 12px;
}
.amount {
  color: #8b8994;
  float: right;
  margin-right: 8%;
  display: inline;
}

#issuesNav::-webkit-scrollbar {
	width: 6px;

}
#issuesNav::-webkit-scrollbar-track {
	margin-top: 10px;
  margin-bottom: 10px;
	background-color: #f6f6f6;
  border-radius: 3px;
}
#issuesNav::-webkit-scrollbar-thumb {
	background-color: #e0e0e0;
}
.buttons {
  margin-left: 10px;
  margin-top: 10px;
}
.close {
  background: #ff5a4e;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}
.minimize {
  background: #ffbb1b;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}
.zoom {
  background: #00ce47;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}
