body {
  background-image: url("assets/background-crpd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 12px;
}
#container
{
  display: flex;
  height: 55vh;
  border-radius: 10px;
  width: 35vw;
  -webkit-box-shadow: -1px 2px 43px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 43px -2px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 43px -2px rgba(0,0,0,0.75);
}
ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  height: inherit;
}
.star {
  float: right;
  margin: 0.5% 2.5% 0 0;
  filter: drop-shadow(0 0 1px #634b4b);
}
.starred {
  filter: brightness(0);
  float: right;
  margin: 0.5% 2.5% 0 0;
}
#mainNav {
  background-color: #111022;
  border-radius: 10px 0 0 10px;
  opacity: 0.98;
  height: inherit;
  width: 25%;
}
#mainNav img {
  padding-right: 5px;
  vertical-align: bottom;
  padding-bottom: 3px;
}
#mainNav li {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1.3em;
}
#mainNav li:hover {
  background-color: #292a48;
}
#mainNav #active {
  background-color: #292a48;
}
#issuesNav {
  background-color: #f6f6f6;
  border-radius: 0 10px 10px 0;
  width: 75%;
  overflow-y: scroll;
}
.issue {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 1.3em;
}
.issueDate {
  color: #918f9c;
  margin-left: 10px;
  font-size: 1em;
}
.amount {
  color: #8b8994;
  float: right;
  margin: 0 8% 0 0;
  display: inline;
}
#issuesNav::-webkit-scrollbar {
	width: 6px;

}
#issuesNav::-webkit-scrollbar-track {
	margin-top: 10px;
  margin-bottom: 10px;
	background-color: #f6f6f6;
  border-radius: 3px;
}
#issuesNav::-webkit-scrollbar-thumb {
	background-color: #e0e0e0;
}
.buttons {
  margin-left: 10px;
  margin-top: 10px;
}
.close {
  background: #ff5a4e;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}
.minimize {
  background: #ffbb1b;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}
.zoom {
  background: #00ce47;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}
